*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

body {
    background-color: rgb(153, 212, 229);
    justify-content: center;
    justify-items: center;
    display: flex;
    min-height: 100vh;
}

.container {
    background-color: white;
    /* border: 1px solid blue; */
    border-radius: 12px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    margin: 300px 200px;
}

.container--text {
    font-size: 25px;
    text-align: justify;
    padding: 12px;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.btn--generate {
    padding: 14px 25px;
    margin-bottom: 20px;
    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;
    justify-items: center;
    width: 400px;
}

/* .btn--generate:hover {
    background-color: rgb(153, 212, 229);
    color: black;
    border: none;
    border-radius: 10px;
} */

.btn--copy {
    padding: 14px 25px;
    background-color: rgb(153, 212, 229);
    color: white;
    border: none;
    display: inline-block;
    cursor: pointer;
    width: 400px;
    margin-bottom: 20px;
}

input {
    padding: 20px;
    user-select: none;
    height: 45px;
    width: 400px;
    border-radius: 6px;
    outline: none;
    padding: 10px;
    margin-bottom: 25px;
    margin-top: 40px;
    justify-items: center;
    align-items: center;
}